<!-- app-header -->
<header class="app-header sticky" id="header">
  <!-- Start::main-header-container -->
  <div class="main-header-container container-fluid">
    <!-- Start::header-content-left -->
    <div class="header-content-left">
      <!-- Start::header-element -->
      <div class="header-element">
        <div class="horizontal-logo">
          <a routerLink="/dashboards" class="header-logo">
            <img
              src="./assets/images/logos/logo-small.png"
              alt="logo"
              class="desktop-logo"
            />
            <img
              src="./assets/images/logos/logo-small.png"
              alt="logo"
              class="toggle-dark"
            />
            <img
              src="./assets/images/logos/logo-small.png"
              alt="logo"
              class="desktop-dark"
            />
            <img
              src="./assets/images/logos/logo-small.png"
              alt="logo"
              class="toggle-logo"
            />
          </a>
        </div>
      </div>
      <!-- End::header-element -->
      <!-- Start::header-element -->
      <div class="header-element mx-lg-0 mx-2">
        <a
          (click)="toggleSidebar()"
          aria-label="Hide Sidebar"
          class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle"
          data-bs-toggle="sidebar"
          ><span></span
        ></a>
      </div>
      <!-- End::header-element -->

      <div
        class="header-element header-search d-md-block d-none custom-header-searchInput"
      >
        <!-- Start::header-link -->
        <div
          class="autoComplete_wrapper"
          role="combobox"
          aria-owns="autoComplete_list_1"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <input
            type="text"
            class="header-search-bar form-control bg-white"
            id="header-search"
            placeholder="Search"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            (click)="SearchHeader()"
            [(ngModel)]="text"
            [ngModelOptions]="{ standalone: true }"
            (keyup)="Search(text)"
          />
        </div>

        @if(menuItems && menuItems.length > 0) {
        <div class="search_drop list-group" (click)="clearSearch()">
          @for(menuItem of menuItems | slice: 0: 5; track $index) {
          <div
            class="list-group-item"
            [routerLink]="menuItem?.path"
            (click)="clearSearch()"
          >
            <a [routerLink]="menuItem?.path">
              <span
                ><i class="fa fa-angle-double-right me-2"></i
                >{{menuItem?.title}}</span
              >
            </a>
          </div>
          }
        </div>
        } @else{
        <ng-template>
          <ul class="ps-2">
            <li
              class="p-1 d-flex align-items-center text-muted mb-2 search-app"
            >
              <a
                ><span
                  ><i class="fa fa-angle-double-right me-2"></i>No Search Result
                  Found with "{{text}}"</span
                ></a
              >
            </li>
          </ul>
        </ng-template>
        }
        <a href="javascript:void(0);" class="header-search-icon border-0">
          <i class="bi bi-search fs-12 mb-1"></i>
        </a>
        <!-- End::header-link -->
      </div>
    </div>
    <!-- End::header-content-left -->

    <!-- Start::header-content-right -->
    <ul class="header-content-right">
      <!-- Start::header-element -->
      <li class="header-element d-md-none d-block">
        <a
          (click)="openModal(content)"
          href="javascript:void(0);"
          class="header-link"
          data-bs-toggle="modal"
          data-bs-target="#header-responsive-search"
        >
          <!-- Start::header-link-icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="header-link-icon"
            viewBox="0 0 256 256"
          >
            <rect width="256" height="256" fill="none" />
            <circle cx="112" cy="112" r="80" opacity="0.2" />
            <circle
              cx="112"
              cy="112"
              r="80"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            />
            <line
              x1="168.57"
              y1="168.57"
              x2="224"
              y2="224"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            />
          </svg>
          <!-- End::header-link-icon -->
        </a>
      </li>
      <!-- End::header-element -->

      <li
        ngbDropdown
        [autoClose]="'outside'"
        class="header-element notifications-dropdown d-xl-block d-none dropdown"
      >
        <!-- Start::header-link|dropdown-toggle -->
        <a
          ngbDropdownToggle
          href="javascript:void(0);"
          class="header-link dropdown-toggle"
          data-bs-toggle="dropdown"
          data-bs-auto-close="outside"
          id="messageDropdown"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="header-link-icon"
            viewBox="0 0 256 256"
          >
            <rect width="256" height="256" fill="none" />
            <path
              d="M56,104a72,72,0,0,1,144,0c0,35.82,8.3,64.6,14.9,76A8,8,0,0,1,208,192H48a8,8,0,0,1-6.88-12C47.71,168.6,56,139.81,56,104Z"
              opacity="0.2"
            />
            <path
              d="M96,192a32,32,0,0,0,64,0"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            />
            <path
              d="M56,104a72,72,0,0,1,144,0c0,35.82,8.3,64.6,14.9,76A8,8,0,0,1,208,192H48a8,8,0,0,1-6.88-12C47.71,168.6,56,139.81,56,104Z"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            />
          </svg>
          <span
            class="header-icon-pulse bg-secondary rounded pulse pulse-secondary"
          ></span>
        </a>
        <!-- End::header-link|dropdown-toggle -->
        <!-- Start::main-header-dropdown -->
        <div
          ngbDropdownMenu
          class="main-header-dropdown dropdown-menu dropdown-menu-end"
          data-popper-placement="none"
        >
          <div class="p-3 bg-primary text-fixed-white">
            <div class="d-flex align-items-center justify-content-between">
              <p class="mb-0 fs-16">Notificaciones</p>
              @if(!isNotifyEmpty){
              <a
                (click)="removeNotify('header-notification-scroll')"
                href="javascript:void(0);"
                class="badge bg-light text-default border"
                >Clear All</a
              >
              }
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <overlay-scrollbars>
            <ul class="list-unstyled mb-0" id="header-notification-scroll">
              <li class="dropdown-item position-relative">
                <a routerLink="/applications/chat" class="stretched-link"></a>
                <div class="d-flex align-items-start gap-3">
                  <div class="lh-1">
                    <span
                      class="avatar avatar-sm avatar-rounded bg-primary-transparent"
                    >
                      <i class="ri-notification-line fs-16"></i>
                    </span>
                  </div>
                  <div class="flex-fill">
                    <span class="d-block fw-semibold">Task Reminder</span>
                    <span class="d-block text-muted fs-12"
                      >Don't forget to submit your report by 3 PM today</span
                    >
                  </div>
                  <div class="text-end">
                    <span class="d-block mb-1 fs-12 text-muted">02:16pm</span>
                    <span class="d-block text-primary d-none"
                      ><i class="ri-circle-fill fs-9"></i
                    ></span>
                  </div>
                </div>
              </li>
            </ul>
          </overlay-scrollbars>
          @if(isNotifyEmpty){
          <div class="p-5 empty-item1">
            <div class="text-center">
              <span
                class="avatar avatar-xl avatar-rounded bg-secondary-transparent"
              >
                <i class="ri-notification-off-line fs-2"></i>
              </span>
              <h6 class="fw-medium mt-3">No New Notifications</h6>
            </div>
          </div>
          }
        </div>
        <!-- End::main-header-dropdown -->
      </li>
      <!-- End::header-element -->

      <!-- Start::header-element -->
      <li ngbDropdown class="header-element dropdown">
        <!-- Start::header-link|dropdown-toggle -->
        <a
          ngbDropdownToggle
          href="javascript:void(0);"
          class="header-link dropdown-toggle"
          id="mainHeaderProfile"
          data-bs-toggle="dropdown"
          data-bs-auto-close="outside"
          aria-expanded="false"
        >
          @if(!isLoading) { @if(profile_image && profile_image !==
          'assets/images/media/icons/user-icon.png') {
          <div class="header-link-icon p-0">
            <img
              [src]="profile_image"
              alt="Foto de perfil"
              class="rounded-circle"
              style="
                width: 2.25rem;
                height: 2.25rem;
                object-fit: cover;
              "
            />
          </div>
          } @else {
          <div class="header-link-icon p-0">
            <div
              class="rounded-circle bg-primary d-flex align-items-center justify-content-center"
              style="
              width: 2.25rem; 
              height: 2.25rem; 
              "
            >
              @if(firstLetter) {
              <span class="text-white fw-bold" style="font-size: 18px">
                {{ firstLetter }}
              </span>
              } @else {
              <i
                class="fa fa-user-circle text-white"
                style="font-size: 23px"
              ></i>
              }
            </div>
          </div>
          } } @else {
          <div class="spinner-grow text-light-custom" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          }
        </a>
        <!-- End::header-link|dropdown-toggle -->
        <div
          ngbDropdownMenu
          class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end"
          aria-labelledby="mainHeaderProfile"
        >
          <div class="p-3 bg-primary text-fixed-white">
            <div class="d-flex align-items-center justify-content-between">
              <p class="mb-0 fs-16">Perfil</p>
              <a href="javascript:void(0);" class="text-fixed-white"
                ><i class="ti ti-settings-cog"></i
              ></a>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="p-3">
            <div class="d-flex align-items-start gap-2">
              <div class="lh-1">
                <span
                  class="avatar avatar-sm bg-primary-transparent avatar-rounded"
                >
                  <p class="mt-3 firstLetter">{{firstLetter}}</p>
                </span>
              </div>
              <div>
                <span *ngIf="userName" class="d-block fw-semibold lh-1"
                  >{{userName}}</span
                >
                <span *ngIf="userMail" class="text-muted fs-12"
                  >{{userMail}}</span
                >
              </div>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <ul class="list-unstyled mb-0">
            <li>
              <ul class="list-unstyled mb-0 sub-list">
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center"
                    [routerLink]="['/pages/profile']"
                    ><i class="ti ti-user-circle me-2 fs-18"></i>View Profile</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center"
                    [routerLink]="['/applications/email/mail-settings']"
                    ><i class="ti ti-settings-cog me-2 fs-18"></i>Account
                    Settings</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <ul class="list-unstyled mb-0 sub-list">
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center"
                    href="javascript:void(0);"
                    ><i class="ti ti-lifebuoy me-2 fs-18"></i>Support</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center"
                    href="javascript:void(0);"
                    ><i class="ti ti-bolt me-2 fs-18"></i>Activity Log</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center"
                    href="javascript:void(0);"
                    ><i class="ti ti-calendar me-2 fs-18"></i>Events</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a
                class="dropdown-item d-flex align-items-center"
                (click)="logout()"
                ><i class="ti ti-logout me-2 fs-18"></i>Log Out</a
              >
            </li>
          </ul>
        </div>
      </li>
      <!-- End::header-element -->
    </ul>
    <!-- End::header-content-right -->
  </div>
  <!-- End::main-header-container -->
</header>
<!-- /app-header -->

<ng-template #content let-modal>
  <div class="modal-body">
    <div class="input-group search-modal-input">
      <input
        type="text"
        class="form-control border-end-0"
        placeholder="Search Anything ..."
        aria-label="Search Anything ..."
        aria-describedby="button-addon2"
        (click)="SearchHeader()"
        [(ngModel)]="text"
        [ngModelOptions]="{ standalone: true }"
        (keyup)="Search(text)"
      />
      <a class="btn btn-primary" type="button" id="button-addon2"
        ><i class="bi bi-search"></i
      ></a>
      @if(menuItems && menuItems.length > 0) {
      <div class="search_drop list-group" (click)="clearSearch()">
        @for(menuItem of menuItems | slice: 0: 5; track $index) {
        <div
          class="list-group-item"
          [routerLink]="menuItem?.path"
          (click)="clearSearch()"
        >
          <a [routerLink]="menuItem?.path">
            <span
              ><i class="fa fa-angle-double-right me-2"></i
              >{{menuItem?.title}}</span
            >
          </a>
        </div>
        }
      </div>
      } @else{
      <ng-template>
        <ul class="ps-2">
          <li class="p-1 d-flex align-items-center text-muted mb-2 search-app">
            <a
              ><span
                ><i class="fa fa-angle-double-right me-2"></i>No Search Result
                Found with "{{text}}"</span
              ></a
            >
          </li>
        </ul>
      </ng-template>
      }
    </div>
  </div>
</ng-template>
