.avatar {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  text-align: center;
  line-height: 48px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
  background-color: #6c757d; /* gris por defecto */
}

.avatar-initial {
  display: block;
  width: 100%;
  height: 100%;
}
