<app-breadcrumb title="Applications" [subtitle]="false" active_item="Chat"></app-breadcrumb>

<div class="main-chart-wrapper gap-lg-2 gap-0 mb-3 d-lg-flex">
  <div class="chat-info border">
    <div class="d-flex align-items-center justify-content-between w-100 p-3 border-bottom">
      <div>
        <h5 class="fw-semibold mb-0">Messages</h5>
      </div>


    </div>
    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-style-1 nav-pills nav-justified p-2 border-bottom d-flex"
      id="myTab1" role="tablist">
      <li [ngbNavItem]="1" class="nav-item me-0" role="presentation">
        <button ngbNavLink class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users-tab-pane"
          type="button" role="tab" aria-controls="users-tab-pane" aria-selected="true">Recents<span
            class="badge bg-secondary ms-1 rounded-pill">04 <!-- Número de mensajes --> </span></button>
        <ng-template ngbNavContent class="border-0 chat-users-tab" id="users-tab-pane">
          <overlay-scrollbars>
            <ul class="list-unstyled mb-0 mt-2 chat-users-tab" id="chat-msg-scroll">
              <li class="pb-0">
                <p class="text-muted fs-11 fw-medium mb-2 op-7">All Chats</p>
              </li>
              @for (allchat of allchats; track allchat) {
              <li class="checkforactive"
                [ngClass]="{'chat-msg-unread':allchat.chatMsgUnread , 'chat-inactive':allchat.status == 'offline','chat-msg-unread active': activeUser === allchat}">
                <a href="javascript:void(0);" (click)="handleClick(allchat)">
                  <div class="d-flex align-items-top">
                    <div class="me-1 lh-1">
                      <span class="avatar avatar-md offline me-2 avatar-rounded"
                        [ngClass]="allchat.status == 'online' ? 'online' : 'offline'">
                        <img [src]="allchat.image" alt="img">
                      </span>
                    </div>
                    <div class="flex-fill">
                      <p class="mb-0 fw-medium">
                        {{ allchat.name }} <span class="float-end text-muted fw-normal fs-11">{{allchat.time}}</span>
                      </p>
                      <p class="fs-13 mb-0">
                        <span class="chat-msg !text-truncate">{{ allchat.message }}</span>
                        @if(allchat.unReadMsgStatus){
                        <span [ngClass]="allchat.unReadMsgStatus" class="chat-read-icon float-end align-middle">{{
                          allchat.unReadMsgCount
                          }}</span>
                        }
                        @else {
                        <span class="chat-read-icon float-end align-middle"><i class="ri-check-double-fill"></i></span>
                        }
                      </p>


                    </div>
                  </div>
                </a>
              </li>
              }

            </ul>
          </overlay-scrollbars>
        </ng-template>

      </li>
     
    </ul>
    <div class="chat-search p-3 border-bottom border-block-end-dashed">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Here" aria-describedby="button-addon2">
        <button aria-label="button" class="btn btn-primary" type="button" id="button-addon2"><i
            class="ri-search-line"></i></button>
      </div>
    </div>
    <div class="tab-content faq-tabs" id="myTabContent" [ngbNavOutlet]="nav">
    </div>
  </div>
  <div class="main-chat-area border">
    <div class="d-flex align-items-center border-bottom main-chat-head flex-wrap">
      <div class="me-2 lh-1">
        <span class="avatar avatar-md {{activeUser.status}} avatar-rounded chatstatusperson">
          <img class="chatimageperson" [src]="activeUser.image" alt="img"> <!-- Acá hira solamente la imagen del avatar del chatbot -->
        </span>
      </div>
      <div class="flex-fill">
        <p class="mb-0 fw-medium fs-14 lh-1">
          <a href="javascript:void(0);"
            class="chatnameperson ">{{activeUser.name}}</a>
        </p>
        <p class="text-muted mb-0 chatpersonstatus">{{activeUser.status}}</p>
      </div>
      <div class="d-flex align-items-center flex-wrap rightIcons">
        <button aria-label="button" type="button" class="btn btn-icon btn-light ms-2 btn-sm">
          <i class="ti ti-phone"></i>
        </button>
        <button aria-label="button" type="button" class="btn btn-icon btn-light ms-2 btn-sm">
          <i class="ti ti-video"></i>
        </button>
        <button aria-label="button" type="button" class="btn btn-icon btn-light ms-2 responsive-userinfo-open btn-sm">
          <i class="ti ti-user-circle" id="responsive-chat-close"></i>
        </button>


        <button (click)="removedetails()" aria-label="button" type="button" class="btn btn-icon btn-light ms-2 responsive-chat-close btn-sm">
          <i class="ri-close-line"></i>
        </button> <!-- Este boton sirve para cerrar el chat cuando se trabaja en moviles -->
      </div>
    </div>
    <overlay-scrollbars [defer] class="chat-content" id="main-chat-content">

      <div class="chat-content-background">
        <img src="./assets/images/media/backgrounds/12.png" alt="">
      </div>
      <ul class="list-unstyled">
        <li class="chat-day-label">
          <span>Today</span>
        </li>
        <li class="chat-item-start">
          <div class="chat-list-inner">
            <div class="chat-user-profile">
              <span class="avatar avatar-md {{activeUser.status}} avatar-rounded chatstatusperson">
                <img class="chatimageperson" [src]="activeUser.image" alt="img">
              </span>
            </div>
            <div class="ms-3">
              <span class="chatting-user-info">
                <span class="chatnameperson">{{activeUser.name}}</span> <span class="msg-sent-time">10:00 AM</span>
              </span>
              <div class="main-chat-msg">
                <div>
                  <p class="mb-0">Hey! How are you doing today? 😊</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="chat-item-end">
          <div class="chat-list-inner">
            <div class="me-3">
              <span class="chatting-user-info">
                <span class="msg-sent-time"><span class="chat-read-mark align-middle d-inline-flex"><i
                      class="ri-check-double-line"></i></span>10:02 AM</span> You
              </span>
              <div class="main-chat-msg">
                <div>
                  <p class="mb-0">Hi! I'm doing great, thanks for asking. How about you?</p>
                </div>
              </div>
            </div>
            <div class="chat-user-profile">
              <span class="avatar avatar-md online avatar-rounded">
                <img src="./assets/images/faces/15.jpg" alt="img">
              </span>
            </div>
          </div>
        </li>

      </ul>

    </overlay-scrollbars> <!-- Acá se muestra el detalle de la conversación seleccionada -->

    <div class="chat-footer">
      <a aria-label="anchor" class="btn btn-icon me-2 btn-light" href="javascript:void(0)">
        <i class="ri-attachment-line"></i>
      </a> <!-- Botón para adjuntar archivos -->
      <input class="form-control form-control-lg chat-message-space border-0 shadow-none"
        placeholder="Type your message here..." type="text"  [(ngModel)]="message">

        <a aria-label="anchor" class="btn btn-icon ms-2 btn-light emoji-picker" href="javascript:void(0)"
        (click)="showEmojiPicker = !showEmojiPicker">
        <i class="ri-emotion-line"></i>
      </a>
        @if (showEmojiPicker) {
          <div #emojiPicker class="position-absolute emoji-picker-position" style="bottom: 60px; inset-inline-start: auto; inset-inline-end: 4.2rem; z-index: 1000;">
            <emoji-mart title="Pick your emoji…" emoji="point_up" (emojiSelect)="addEmoji($event)"></emoji-mart>
          </div>
          }
      <a aria-label="anchor" class="btn btn-primary ms-2 btn-icon btn-send" href="javascript:void(0)">
        <i class="ri-send-plane-2-line"></i>
      </a>
    </div>
  </div>

</div>

