@if (!loading) {
<div class="agent-detail-container">
  <div class="agent-card">
    <i class="ri-arrow-left-line" (click)="back()"></i>

    <div class="agent-header">
      <h1>{{ agent.name }}</h1>

      <div class="agent-image">
        <img [src]="agent.image" alt="Foto del agente" />
      </div>
    </div>

    <div class="buttons mb-4">
      <button class="btn btn-primary label-btn">
        <i class="ri-heart-2-line label-btn-icon me-2"></i>
        Favoritos
      </button>

      <button class="btn btn-success label-btn label-end mx-2">
        Crear Agente
        <i class="ri-function-add-line label-btn-icon ms-2"></i>
      </button>
    </div>

    <div class="agent-info">
      <quill-view [content]="agent.description"></quill-view>

      <div class="meta-box">
        <div>
          <span>Fecha creación: </span>
          <span>{{ agent.created_at | date }}</span>
        </div>
      </div>

      <div class="buttons mb-4 mt-2">
        <button class="btn btn-primary label-btn">
          <i class="ri-heart-2-line label-btn-icon me-2"></i>
          Favoritos
        </button>

        <button class="btn btn-success label-btn label-end mx-2">
          Crear Agente
          <i class="ri-function-add-line label-btn-icon ms-2"></i>
        </button>
      </div>
    </div>

    <h4>Más agentes</h4>
    <div class="more-agents pb-3">
      @for (card of agentCards; track $index) {
      <div
        class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-xxl-0 mt-3"
      >
        <div class="border rounded p-3">
          <div class="d-sm-flex d-block align-items-top mb-3">
            <div class="d-flex flex-fill align-items-start gap-3">
              <div>
                <span class="avatar avatar-rounded">
                  <img [src]="card.imageUrl" alt="" />
                </span>
              </div>
              <div class="title-agent lh-1 me-2">
                <p class="mb-1 fw-semibold fs-14">{{card.title}}</p>
                <div class="fs-11 text-muted">Update on Nov, 2025 - v1</div>
                <div class="agent-actions p-0 mt-2">
                  <button
                    class="btn btn-info label-btn"
                    (click)="goToAgentDetail(card.slug); $event.stopPropagation()"
                  >
                    <i class="ri-book-read-fill label-btn-icon me-2"></i>
                    Leer Más
                  </button>
                </div>
              </div>
            </div>
            <div class="ps-sm-0 mt-sm-0 mt-3 ps-sm-0 ps-2">
              <span class="badge bg-success">Activo</span>
            </div>
          </div>
          <div class="ps-sm-3 ps-0 mb-3">
            <p class="fw-semibold mb-1 ps-2">Acerca de nuestro servicio😀</p>
            <p class="mb-0 text-muted ps-2">{{card.lead}}</p>
          </div>
          <div class="product-images ps-sm-4 ps-0">
            <div class="row">
              <div
                class="col-xl-6 d-flex align-items-start justify-content-sm-start mt-sm-0 mt-2 flex-wrap gap-2"
              >
                <button class="btn btn-sm btn-warning-light me-2">
                  Reportar fallos
                </button>
                <button class="btn btn-sm btn-icon btn-success-light me-2">
                  <i class="ri-thumb-up-line"></i>
                </button>
                <button class="btn btn-sm btn-icon btn-danger-light">
                  <i class="ri-thumb-down-line"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
} @else {
<div class="text-center p-5">
    <div
      class="spinner-border text-primary"
      role="status"
      style="width: 3rem; height: 3rem"
    >
      <span class="visually-hidden">Cargando...</span>
    </div>
    <p class="mt-3 fw-semibold">Cargando Agente...</p>
  </div>
}
