.btn-info{
    background-color: #94999e !important;
    color: white;
    border-color: #94999e !important;
}


:host ::ng-deep .ql-editor {
    padding: 0;
}

:host ::ng-deep .ql-container.ql-snow{
    border: none !important;
}

.agent-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.agent-header h1 {
  margin: 0;
  font-size: 2rem;
  line-height: 1.2;
  flex-shrink: 1; // Evita que empuje la imagen
}

.agent-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.agent-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ri-arrow-left-line{
    position: absolute;
    right: 30px;
    font-size: 24px;
}


.agent-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 18px;

  .btn-read,
  .btn-create {
    flex: 1;
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    transition: all .2s ease;
  }

  .btn-read {
    background: #eaeaea;

    &:hover {
      background: #dcdcdc;
    }
  }

  .btn-create {
    background: #4CAF50;
    color: #fff;

    &:hover {
      background: #43a047;
    }
  }
}

.avatar{
  width: 70px;
  height: 70px;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}

.title-agent{
    height: -webkit-fill-available;
    border-left: 1px solid #4f4f4f40;
    padding-left: 10px;
}
