.avatar{
  width: 70px;
  height: 70px;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}

.title-agent{
    height: -webkit-fill-available;
    border-left: 1px solid #4f4f4f40;
    padding-left: 10px;
}

//table 1
.tabla-servicios {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.tabla-servicios thead {
  background: #1a73e8;
  color: #fff;
}

.tabla-servicios th,
.tabla-servicios td {
  padding: 12px 15px;
  text-align: left;
}

.tabla-servicios tbody tr:nth-child(even) {
  background: #f5f8ff;
}

.img-servicio {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.acciones {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s;
}

.btn.editar {
  background: #ffc107;
  color: #000;
}

.btn.editar:hover {
  background: #e3ac06;
}

.btn.eliminar {
  background: #d62828;
  color: #fff;
}

.btn.eliminar:hover {
  background: #b91d1d;
}

//end table 1

.custom-card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.agent-card {
  background: transparent;
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.25s ease;
  cursor: pointer;
  border: 1px solid #eee;
  margin-bottom: 20px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.05);
  }
}

.agent-img {
  width: 100%;
  height: 230px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;

    .agent-card:hover & {
      transform: scale(1.05);
    }
  }
}

.agent-body {
  padding: 15px 18px;

  h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
  }
}

.agent-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 18px;

  .btn-read,
  .btn-create {
    flex: 1;
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    transition: all .2s ease;
  }

  .btn-read {
    background: #eaeaea;

    &:hover {
      background: #dcdcdc;
    }
  }

  .btn-create {
    background: #4CAF50;
    color: #fff;

    &:hover {
      background: #43a047;
    }
  }
}
